// Colors

$lightRed: hsl(356, 100%, 66%); // cta text
$veryLightRed: hsl(355, 100%, 74%); // cta hover background
$veryDarkBlue: hsl(208, 49%, 24%); // headings

$white: hsl(0, 0%, 100%); //text
$grayishBlue: hsl(240, 2%, 79%); // footer text
$veryDarkGrayishBlue: hsl(207, 13%, 34%); // body copy
$veryDarkBlackBlue: hsl(240, 10%, 16%); // footer background

// Background gradient intro/cta mobile nav:

$redGrad1: hsl(13, 100%, 72%);
$redGrad2: hsl(353, 100%, 62%);

$blueGrad1: hsl(237, 17%, 21%);
$blueGrad2: hsl(237, 23%, 32%);

// Font Styles

$ubuntu: 'Ubuntu', sans-serif;
$overpass: 'Overpass', sans-serif;

// Font Sizes

$font-med: 1.125rem; // 18px